@model IEnumerable<Butchers.Data.BEANS.ProductBEAN>

@{
    ViewBag.Title = "Products";
}

<div class="row">
    <div class="col-md-11">
        <h2>Products</h2>
    </div>
    <div class="col-md-1">
        @if (User.IsInRole("Admin"))
        {
        <button class="btn btn-info" style="width: 100%;" onclick="location.href='@Url.Action("AddProduct", "ProductAdmin")'"><i class="fas fa-plus"></i></button>
        }
    </div>
</div>
<hr />


<div class="row">

    @foreach (var item in Model){

        <div class="col-md-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12" style="padding: 0px;">
                        <img src="https://placeimg.com/640/300/animals/grayscale" style="width: 100%;">
                    </div>
                </div>
                <div class="row">
                    <h3>@*<b>*@@Html.DisplayFor(modelItem => item.Name)@*</b>*@ @*(@Html.DisplayFor(modelItem => item.Meat))*@</h3>
                </div>

                @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                {
                    <div class="row">
                        <div class="col-md-6" style="padding: 0px;">
                            <button class="btn btn-info" style="width: 100%;" onclick="location.href='@Url.Action("EditProduct", new { id = item.ProductId, meatId = item.MeatId, Controller = "ProductAdmin" })'"><i class="fas fa-edit"></i></button>
                        </div>
                        <div class="col-md-6" style="padding: 0px;">
                            <button class="btn btn-info" style="width: 100%;" onclick="location.href='@Url.Action("DeleteProduct", new { id = item.ProductId, Controller = "ProductAdmin" })'"><i class="fas fa-trash-alt"></i></button>
                        </div>
                    </div>
                }

            </div>
            <br />
        </div>
    }

</div>

