@model IEnumerable<Butchers.Data.BEANS.ProductBEAN>

@{
    ViewBag.Title = "Products";
}

<div class="row">
    <div class="col-md-10">
        <h2>Products</h2>
    </div>
    <div class="col-md-2">
        <button class="btn btn-info btn-header" onclick="location.href='@Url.Action("AddProduct", "ProductAdmin")'"><i class="fas fa-plus"></i></button>
    </div>
</div>
<hr />
<div class="row">

    @foreach (var item in Model){

        <div class="col-md-3">
            <div class="card mb-3" style="width: 100%;">
                <div class="row">
                    <div class="col-md-12">
                        <img src="https://images.pexels.com/photos/266905/pexels-photo-266905.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" style="width: 100%;">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12" style="text-align: center;">
                        <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
                    </div>
                </div>

                @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                {
                    <div class="container">
                        <div class="row">

                            <div class="col-md-6" style="padding: 0px;">
                                <button class="btn btn-info" style="width: 100%;" onclick="location.href='@Url.Action("EditProduct", new { id = item.ProductId, meatId = item.MeatId, Controller = "ProductAdmin" })'"><i class="fas fa-edit"></i></button>
                            </div>

                            <div class="col-md-6" style="padding: 0px;">
                                <button class="btn btn-info" style="width: 100%;" onclick="location.href='@Url.Action("DeleteProduct", new { id = item.ProductId, Controller = "ProductAdmin" })'"><i class="fas fa-trash-alt"></i></button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }

</div>

