@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-3">Meat Management</h1>
    <p class="lead">Delivering high quality sales and stock management solutions to your local butchers.</p>
    <hr class="my-4">
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Stock Management</h2>
        <p>
            Our solution allows you to easily keep track of your stock. With options to add and remove stock manaually, much of the management is automated, saving you valuable time to serve your customers!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Manage Reservations</h2>
        <p>Reduce the amount of time you spend managing reservations on social media or over the phone by allowing customers to reserve your products through your site.</p>
    </div>
    <div class="col-md-4">
        <h2>User Friendly</h2>
        <p>We have made this service with you in mind. Manage your stock, your reservations and your business easily with this service. If you have any suggestions, however, we're all ears! Contact us <a href="http://twitter.com/themancheetah">here</a>!</p>
    </div>
</div>