body {
    /*padding-top: 50px;*/ 
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Nav Bar*/

/* For the navbar element*/
.navbar.navbar-expand-lg.navbar-dark.bg-primary {
    background-color: #E10032 !important;
    margin-bottom: 20px;
}

.nav-item,
.nav-item > a,
.nav-item > ul > li > a,
.dropdown > a,
.dropdown-menu > li > a,
.navbar-nav > li > a{
    color: white !important;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.nav-submenu {
    background-color: #E10032 !important;
    width: 250px;
    border-style: none;
}

.form-control.text-box.single-line {
    padding: 0.75rem 1rem;
}

@media screen and (max-width: 992px) {
    /*this css will only be used when the screen size is max 800px*/

    .nav-submenu {
        margin-left: 1em;
    }
}
