body {
    /*padding-top: 50px;*/ 
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/*Nav Bar*/

/* For the navbar element*/
.navbar.navbar-expand-lg.navbar-dark.bg-primary {
    background-color: #FB3640 !important;
    margin-bottom: 20px;
}

.nav-item,
.nav-item > a,
.nav-item > ul > li > a,
.dropdown > a,
.dropdown-menu > li > a,
.navbar-nav > li > a{
    color: white !important;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.nav-submenu {
    background-color: #FB3640 !important;
    width: 250px;
    border-style: none;
}

.btn {
    border-width: 0.1em;
    /*border-color: black;*/
}

@media screen and (max-width: 992px) {
    /*this css will only be used when the screen size is max 800px*/

    .nav-submenu {
        margin-left: 1em;
    }
}

/* Temporary scroll for table if datatables don't get implemented*/
tr {
    width: 100%;
    display: inline-table;
    table-layout: fixed;
}

table {
    height: 300px; /*Select the height of the table*/ 
    display: -moz-groupbox; /*Firefox Bad Effect*/
}

tbody {
    overflow-y: scroll;
    height: 300px; /*Select the height of the body*/ 
    width: 100%;
    position: absolute;
}
/* End */

h3{
    text-align: center;
}

/* Sets the standard button colour to the site's red theme*/
.btn-info {
    background-color: #FB3640;
    border-color: #FB3640;
}

/* Sets the standard background colour (used on panels) to the site's red theme*/
.bg-info {
    background-color: #FB3640 !important;
    border-color: #FB3640;
}

