@model IEnumerable<Butchers.Data.BEANS.CartBEAN>

@{
    ViewBag.Title = "Carts";
}

<h2>Carts</h2>

<p>
    @Html.ActionLink("Create New", "AddCart", "OrderAdmin")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CartId)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CartId)
        </td>
    </tr>
}

</table>
